// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gertos-logo{
  width: 64px;
  height: 64px;
  background: image-url('book-icon.png');
  background-size: cover;
  margin: 0 10px 0 10px;
  float:left;
}

.search-button {
  width: 100px;
  height: 30px;
  text-align:center;
  background-color: #b61f5c;
  color: #fff;
  padding-top: 4px;
  float:right;
  margin: 0 3px 0 3px;
  display: block;
}

.book-rating {
  width: 400px;
  height: auto;
  margin: 25px auto 0 auto;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 5px;
  background-color: rgb(240,240,240)

}

.book-rating-user {
  padding: 5px;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(200,200,200);

}
