.newbook-button {
  width: 100px;
  height: 30px;
  text-align:center;
  background-color: #821759;
  color: #fff;
  padding-top: 4px;
  margin: 0 auto 15px auto;

}

.book-cover {
  margin: 0 auto 0 auto;
  width: 302px;
  // border-style: solid;
  // border-width: thin;
}

.page-title{
  text-align: center;
}
.edit-button {
  width: 100px;
  height: 30px;
  text-align:center;
  background-color: #b61f5c;
  color: #fff;
  padding-top: 4px;
  float:left;
  margin: 0 3px 0 3px;
  display: block;
}

.book-container {
  width: 400px;
  height: auto;
  margin: 0 auto 0 auto;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.book-user {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;

}

.book-title {
  font-size: 22px;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(200,200,200);

}

.book-action-container {
  width: 350px;
  height: 50px;
  margin: 15px auto 0 auto;
}


.book-seperator{
  width: 600px;
  margin: 40px auto 40px auto;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(150,150,150);

}
