.field {
  width: 500px;
  margin: 0 auto 0 auto;
}

.submit-button {
  width: 100px;
  height: 30px;
  text-align:center;
  background-color: #821759;
  color: #fff;
  padding-top: 4px;
  margin: 20px auto 15px auto;
}

.return-button {
  width: 100px;
  height: 30px;
  text-align:center;
  background-color: #821759;
  color: #fff;
  padding-top: 4px;
  margin: 15px 0 0 15px;
}
